*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
.navv {
  background-color: black;
  
}
.body{
  background-color: rgb(12, 13, 31);
}

/* HeroBanner */
.herro {
 padding-top: 50px;
}
.hero-title1 {
  color: red;
}

.hero-title{
  color: rgb(252, 252, 252);
}

.hero-butt {
  color: white;
  background-color: red;
  width: 250px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.heroall {
  padding-top: 50px;
}

.hero1 {
  padding-top: 100px;
}

.img-hero{
  height: 350px;
}

/* search exercise */

.search-title {
  color: white;
  font-weight: 500;
}

.search-inp {
  position: relative;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  z-index: 1;
}
.search-inp::placeholder{
  padding-left: 25px;
  
}

.icon-dumpp{
  scale: 2;
  color: red;
}

.scroll {
  overflow: hidden;
}

.item-h4 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.result-h3{
  color: white;
} 

.exer-name {
  color: 'white';
}

.pagg {
  background-color: white;
  border-radius: 5px;

}

.foot {
    background-color: black;
}